<div>
    <form-checkbox></form-checkbox>
    <form-datepicker></form-datepicker>
    <form-input></form-input>
    <form-radio></form-radio>
    <form-select></form-select>
    <form-slider></form-slider>

    <hr>
    <div>
        <mat-form-field>
            <mat-label>Favorite food</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>
    </div>

    <mat-form-field>
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
    <hr>
    <!-- <table-basic></table-basic> -->
    <br>
    <!-- <panel-expansion-basic></panel-expansion-basic> -->
</div>