<div>
  <div class="button-row">
    <button mat-raised-button (click)="add()">+</button>
    <button mat-raised-button (click)="onSubmit()">送出</button>
  </div>
  <form class="cus-form">
    <ng-container *ngFor="let item of seriesDataList;let i = index">

      <div class="cus-card">
        <button mat-icon-button (click)="deleteIpt(i)">
          <mat-icon>close</mat-icon>
        </button>
        <h3>{{ i+1 }}</h3>
        <mat-form-field class="cus-full-form">

          <mat-label>系列名稱</mat-label>
          <input matInput [(ngModel)]="item.seriesName" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </div>
    </ng-container>
  </form>
</div>
