

    .card-cus {
        align-self: flex-start;
        background-color: #eeeeee;
        max-height: 100px;
        width: 100%;
        height: 100%;
      }
      .card-cus:hover {
        background-color: #b4b4b4;
        cursor: pointer;
      }
      .card-cus mat-card-title {
        font-size: large;
      }