    .main-container {
      width: 1400px;

    }

    .cus-form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .cus-full-form {
      width: 100%;
    }

    .button-row button {
      margin-right: 8px;
    }

    .cus-card {
      margin-right: 1em;
      margin-top: 2em;
      width: 250px;
    }

    .cus-card button {
      float: right;
    }
