table {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif, '微軟正黑體';
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: rgb(225, 252, 253);
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: rgb(207, 252, 255);
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    overflow: hidden;
  }


  
  